{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block title %} {{ parent() }} | Liste des categories{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/Applications/MAMP/htdocs/academy/ipssi/paris/td-ipssi-paris/src/Controller/CategoryController.php</code></li>
        <li>Your template at <code>/Applications/MAMP/htdocs/academy/ipssi/paris/td-ipssi-paris/templates/category/index.html.twig</code></li>
    </ul>





    {% set fruits = ['Pomme', 'Banane', 'Orange', 'Fraise'] %}
    {# dfdefdfdfdfd #}
    {% for fruit in fruits %}
        <li>{{ fruit }}</li>
    {% endfor %}
    {# dfdefdfdfdfd #}
    {{ macros.button('Cliquez ici', '/contact', 'primary') }}
    {# dfdefdfdfdfd #}


    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Content</th>
            </tr>
        </thead>
        {% for category in categories %}
            <tbody>
                <tr>
                <th scope="row">{{ category.id }}</th>
                <td>{{ category.name }}</td>
                <td>{{ category.content }}</td>
                </tr>
            </tbody>
        {% else %}
            <p> Aucune categorie disponible </p>
        {% endfor %}
    </table>




</div>
{% endblock %}
{% block footer %}

{% endblock %}
